*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:#f4f4f4;
    --secondary-color:#040404;
}

body{
    width: 100%;
    height: 100vh;
    background:var(--primary-color);
    font-family: "Lato", sans-serif;
}

.contacts{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    color: inherit;
}

.contacts a {
  font-size: 3rem;
}





.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(240, 248, 255, 0.9); 
    z-index: 1; 
    display: none; 
   
}
.modal_button{
    margin: 2rem;
    width: fit-content;
    padding: 8px;
    border-radius: 15px;
    color: var(--secondary-color);
    border: 1px solid rgb(229, 226, 226);
    cursor: pointer;
}
.modal_button i{
    margin-left: 1rem;
}
.modal{
    display: none;
    height: 28rem;
    width: 40rem;
    padding: 35px;
    border-radius: 20px;
    background: white;
    box-shadow: 2px 2px 2px #f4f4f4;
    z-index: 100;
    animation: fadeIn 2s ease-in-out;
}

.modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}
.fa-xmark{
    cursor: pointer;
}


.modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.modal_content .loading_icon{
    margin-top: 5rem;
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.loading_icon img{
    width: 50px;
    height: 20px;
}

.modal_content .text{
    text-align: center;

}
.text h3{
    font-size: 17px;
}
.modal_content .text p{
    margin-top: 1rem;
    color:#9e9e9e;
}
.modal_content a{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: inherit;
    text-decoration: none;
   
}

.create_workspace img{
    width: 25px;
    height: 25px;
}
.create_workspace p{
    font-weight: 600;
    color: #266cfb;
}
main div{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: fit-content;
    padding: 10px;
    margin: 10px 40px;
    border: 1px solid greenyellow;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 10px 1px #6c7567;
}
main div p{
    margin-top: 10px;
}
main h1{
    margin: 0 auto;
    color: rgb(209, 202, 202);
    border-right: solid 3px black;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: 
        type 4s steps(30) 1s infinite,
        blink 0.5s steps(1) infinite;
}

@keyframes type {
    to{ width: 13ch;}
}
@keyframes blink{
    from {
        border-color: transparent;
    }
    50%{
        border-color:  black;
    }
    to{
        border-color: transparent;
    }
}
@keyframes fadeIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@media (max-width:720px) {
    .modal{
      width: calc(100% - 50px);
    }
}